

venv/

__pycache__/
*.pyc
*.DS_Store
*.env
*.env.prod
*.sqlite3
.db.sqlite3
*all_models.drawio
*Untitled Diagram.drawio

**/certs/


db.sqlite3
media/
staticfiles/
static/
static_root/

pdfs/

*docker-compose.postgres.yml

.vscode/
